body {
  background-color: powderblue;
/*
  background-image: url('image1.jpg');
  background-repeat: no-repeat;
*/
}
p {
  font-family: courier;
  margin: 40px;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
button {
  float: right;
}
a:hover, a:active {
  background-color: black;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px; /* spaces inside*/
}
th {
  text-align: left;
}
table {
  border-spacing: 5px; /* it will work without border collapse*/
}
#t1 tr:nth-child(even) {
  background-color: yellow;
  color: black;
}
#t1 tr:nth-child(odd) {
  background-color: pink;
  color: black;
}
#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: White;
}
#navigation li {
  float: left;
}
#navigation li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  background-color: white;
}
#navigation li a:hover {
  background-color: black;
  color: white;
}
div.c1 {
  background-color: black;
  height: 400px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.c1 h1 {
  color: white;
}
iframe {
  border:2px solid red;
}
/* for a responsive webpage */
@media only screen and (max-width:800px) {
  /* For tablets: */
  img, iframe {
    width: 80%;
    padding: 0;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  img, iframe {
    max-width: 100%;
  }
}
h1{
  font-size: 5vw;
}
















.
